.container {
  text-align: center;
  font-family: arial;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-bottom: 20px;
}

.puzzle-piece {
  width: 200px;
  height: 200px;
  background-size: cover;
}

#next-btn {
  margin-right: 10px;
}

#timer {
  font-size: 24px;
  margin-bottom: 20px;
}
